<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Revise ur Skills App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
<h1>Welcome dear</h1>
<h2>Stay Home, Stay Helathy!</h2>
<h3>This is my demo app just to revise my skills from basics. :p</h3>
<h4>I am polishing my following skills:-</h4>

    <table class="table table-striped">
        <tr><th>Skill</th>
        <th>IDE Used</th></tr>
        <tr>
            <td>Python</td>
            <td>Pycharm</td>
        </tr>
        <tr>
            <td>SQL</td>
            <td>MySQL, SQL Server</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>Sublime Text Editor</td>
        </tr>
        <tr>
         <td>C++</td>
            <td>Visual Studio</td>
        </tr>
        <tr>
         <td>.Net</td>
            <td>Visual Studio</td>
        </tr>



   </table>

</body>
</html>